#!/usr/bin/env bash

export MY_AZURE_AI_FORMRECOGNIZER_ENDPOINT="https://RESOURCE_NAME.cognitiveservices.azure.com/"
export MY_AZURE_AI_FORMRECOGNIZER_KEY="YOUR_KEY"
export MY_AZURE_AI_FORMRECOGNIZER_MODEL_ID="prebuilt-layout"  # NOTE: See https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/concept-model-overview#model-data-extraction

export MY_AZURE_AI_FORMRECOGNIZER_EXAMPLE_FORM_URL="https://raw.githubusercontent.com/Azure-Samples/cognitive-services-REST-api-samples/master/curl/form-recognizer/sample-layout.pdf"

export MY_AZURE_STORAGE_ACCOUNT_NAME="yourstorageaccountname"
export MY_AZURE_STORAGE_ACCOUNT_ACCESS_KEY="yourstorageaccountaccesskey"
export MY_AZURE_STORAGE_CONTAINER_NAME="container-name"

export MY_MONGODB_URI="mongodb://account-name:..."
export MY_MONGODB_DATABASE="YourMongoDBDatabaseName"
export MY_MONGODB_COLLECTION="YourMongoDBCollectionName"

export MY_MAIN_PIPELINE_LOCAL_FOLDER_PATH="/path/to/folder"
export MY_MAIN_PIPELINE_FILE_NAME="file-name.pdf"
export MY_MAIN_PIPELINE_KEEP_LOCAL_FILE="False"
export MY_MAIN_PIPELINE_KEEP_BLOB="False"

export MY_LOGGING_BASIC_CONFIG_FILENAME="loggile.log"
export MY_LOGGING_BASIC_CONFIG_STREAM="sys.stdout"
export MY_LOGGING_BASIC_CONFIG_FORMAT="%(asctime)s - %(levelname)s - %(message)s"
export MY_LOGGING_BASIC_CONFIG_LEVEL="logging.INFO"
